._layout_backgorund_image {
  background-image: url("../img/backgroud-base-img.png");
  width: 1440px;
  height: 527.04px;
  flex-shrink: 0;
}

._layout-img-card-poisson {
  background-image: url("../img/trichromis_salvini.png");
}

._layout-line-color {
  display: flex;
}

._layout_background_card_image {
  background-image: url("../img/sumidero_canyon.png");
}
